# Игнорировать все файлы
*

# Но не игнорировать каталоги (необходимы для того, чтобы Git мог пройти по дереву директорий)
!*/

# Не игнорировать файлы .py
!*.py

# Не игнорировать файлы .csv
!*.csv

my_env/